{% extends 'shop/basic.html'%}

{%block title %} CART {% endblock %}

{%block style%}
<style>
    img {
        width: 200px;
        height: 200px;
    }

    .backBlur{
        backdrop-filter: blur(5px);
    }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock %}

{% block body %}

  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; top: 10%; right: 0; z-index: 9999;">
    <b>Please Note : </b> After clicking checkout use <b>4242 4242 4242 4242</b> <br>as the card number for payment
    And <b>other data can be random.</b>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<div class="backBlur" style="width: 100%;height:100%;text-align: center; margin: 0 auto; position: fixed; display: none;"  id = 'addAddressSelection'>
    <div class="container nonediv" style="display: none;">
        <div class="loader" style="
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 
                    50% 50% no-repeat rgb(249,249,249);
                    transform: scale(2);"></div>
    </div>
    <div style="position: absolute; top:40%; width: 100%;" id = 'citySelectionDiv'>
        <div class="input-group mb-3 my-3" style="width: 50%; margin: 0 auto; ">
        <span class="input-group-text my-3" id="basic-addon3">City for delivery :   </span>
        <input type="text" name = 'address' class="form-control my-3" id="basic-url" aria-describedby="basic-addon3" />
        
        <button type="button" style=" position: relative; top: 0; right: 0;" onclick="removeBlur();" class="btn-close btn-close-dark" aria-label="Close" aria-required="true"></button>
    </div>
    <button id="Checkout" type = "button" onclick = "checkout();" style = "width: 150px; height: 40px;" class="btn btn-warning my-3">Checkout</button>
</div>
</div>

{% for j, i in p %}
<div id = "outerdiv">
<div class="container prods{{j}} my-3" style="display: none;">
    <div class="row">
        <div class="mx-3 col-sm-4 col-md-4 col-lg-4 my-3">
            <img src="../../../media/{{i.image}}">
        </div>
        <div class="mx-3 col-sm-5 col-md-5 col-lg-5 my-3">
            <div class="row">
                <h2>{{i.product_name}}</h2>
                {{i.product_desc}}
            </div>
            <div class="row" id="divBut{{j}}" style="display: inline-block;">
                <p class="my-3"  style="width: 50%; border: 1px solid black; background-color: #edf5ff;">
                    <label>Qty:</label>
                    <input id="inputprod{{j}}" type="number" style="width: 65%; background-color: #fdffe8;" min="0">
                </p>
                <button class="btn btn-warning mx-3 my-3" style="width: 70px; height: 35px;" value="Update" type="button"
                    onclick="updateItem(this);">Update</button>
                <button class="btn btn-danger mx-3" onclick="deleteItem(this);" id="delete{{j}}"
                    style="width: 70px; height: 35px;" value="Delete" type="button">Delete</button>
            </div>
        </div>
        <div class="mx-3  col-sm-3 col-md-3 col-lg-3">

            <b><label>Price </label><br>₹ <span class="price{{j}}">{{i.price}}</span></b>
        </div>
    </div>

</div>
<!-- <img src='../../../media/{{products.0.image}}' class="card-img-top" style="width: 200px; height: 200px"> -->
{% endfor %}
<div class="container" id="nonePriceDiv">
    <div class="row">
        <div class="mx-3 col-sm-4 col-md-4 col-lg-4 my-3">
        </div>
        <div class="mx-3 col-sm-5 col-md-5 col-lg-5 my-3">
            <b>SubTotal(<span id="totalprod"></span> items)</b><br>
            <button id="Checkout" type = "button" onclick = "getAddress();" style = "width: 150px; height: 40px;" class="btn btn-warning my-3">Checkout</button>
        </div>
        <div class="mx-3 col-sm-3 col-md-3 col-lg-3 my-3" style="display: inline-block;">
            <b>₹ <span id="totprice"></span></b>
            <input type="text" name='data1' style="display: none;" id = "totprice1">
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script>
    var totprice = 0;
    var totprod = 0;
    var itemsTotal = {{ items }}

    function removeBlur(){
        document.getElementById('addAddressSelection').style.display = 'none';
    }

    function getAddress(){
        console.log('hii')
        document.getElementsByTagName('body').className = 'backBlur';
        // document.getElementById("outerdiv").className = 'backBlur'; //backdrop-filter: blur(5px); = 'none';
        // document.getElementById('outerdiv').tabIndex = -1;
        document.getElementById('addAddressSelection').style.display = 'block';
        alert("Please Note : Just enter the town, city, state name");
    }

    // Get Stripe publishable key
    function checkout(){
        
        var lat = 0
        var lon = 0
        document.getElementById('citySelectionDiv').style.display = 'none';
        document.documentElement.scrollTop = 50;
        var addressText = document.getElementById("basic-url").value;
        if(addressText.length == 0){
            alert('Please Enter the delivery address.')
            document.getElementById('citySelectionDiv').style.display = 'block';
            throw 'invalid value';
        }
        document.getElementById("outerdiv").style.opacity = 0.3;
        // document.querySelector(".nonediv").innerHTML = "<h1> Loading...</h1>"
        document.querySelector(".nonediv").style.display  = "block";
        var urlReq = "https://api.weatherapi.com/v1/current.json?key=4c5c2e8f506b4ea29cb41623200208&q=" + addressText;
        $.getJSON(
                urlReq,
                function (data) {
                    console.log(data);
                    lat = data.location.lat;
                    lon = data.location.lon;
                });
        setTimeout((x123) =>{
        var text0 = "{\"lat\":\"" + lat + "\", \"lon\":\"" + lon + "\"}";
        $.ajax({
            type: "POST",
            url: '{{ "/shop/getAddress/" }}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text0},
            success: function callback(response){
               console.log(response);
        }
        });

        var text = document.getElementById("totprice1").value;
        // console.log(text);
        if(text >= 999999){
            alert("The maximum amount you can pay at a time is 999,999, Please delete some items from your cart.")
            window.location.href = '/shop/cart/'
            throw "The maximum payment amount exceeded"
        }
        $.ajax({
            type: "POST",
            url: '{{ "/shop/getPrice/" }}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
            success: function callback(response){
               console.log(response);
        }
        
    });
    var text1 = localStorage.getItem('cart');

    $.ajax({
            type: "POST",
            url: '{{ "/shop/getCart/" }}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text1},
            success: function callback(response){
               console.log(response);
        }
        
    });

    fetch("/shop/config/")
    .then((result) => { return result.json(); })
    .then((data) => {
    // Initialize Stripe.js
    const stripe = Stripe(data.publicKey);
    
        // Get Checkout Session ID
        fetch("/shop/create-checkout-session/")
        .then((result) => { return result.json(); })
        .then((data) => {
          console.log(data);
          // Redirect to Stripe Checkout
          return stripe.redirectToCheckout({sessionId: data.sessionId})
        })
        .then((res) => {
          console.log(res);
        });
    });
}, 1000)

}


    // console.log(localStorage.getItem('cart'));
    if (localStorage.getItem('cart').length == 2) {
        let reqdiv = document.querySelector(".nonediv");
        document.getElementById("nonePriceDiv").style.display = "none";
        reqdiv.style.display = "block";
        reqdiv.innerHTML = `<h1 class = "my-4"> The cart is empty </h1><br>Your shopping cart is waiting. Give it purpose – fill it with groceries, clothing, household supplies, electronics and more.
        <a href = "/shop/">Home</a>`;

    } else {
        viewCart();
        displayPrice()
    }

    function viewCart() {
        var cart = localStorage.getItem('cart');
        cart = JSON.parse(cart);
        for (let x = 1; x <= itemsTotal; x++) {
            var prodDiv = document.querySelector(".prods" + x);
            if (cart["pr" + x]) {
                prodDiv.style.display = "block";
                // prodDiv.innerHTML += 'Pieces : ' + cart["pr" + x];
                document.getElementById("inputprod" + x).value = cart["pr" + x];
                // console.log(cart["pr" + x]);
            }
        }
        // console.log(cart["pr1"]);
    }

    function deleteItem(e) {
        let z = e.id;
        let st = "";
        for (let x in z) {
            if (parseInt(z[x])) {
                st += z[x];
            }
        }
        var cart1 = {}
        for (let x in cart) {
            // console.log("X IS : " + x);
            // console.log("id is : " + st);
            if (x == "pr" + st) continue;
            cart1[x] = cart[x];
        }
        // console.log(cart["pr" + st]);
        localStorage.setItem('cart', JSON.stringify(cart1));
        // console.log(localStorage.getItem('cart'));
        window.location.href = "/shop/cart/"
    }

    function updateItem(e) {
        // console.log(e.parentNode.id);
        let id = e.parentNode.id.slice(6,);
        // console.log(id);
        console.log(document.getElementById("inputprod" + id).value);
        cart["pr" + id] = parseInt(document.getElementById("inputprod" + id).value);
        console.log(cart["pr" + id]);
        localStorage.setItem('cart', JSON.stringify(cart));
        // console.log(localStorage.getItem('cart'));
        window.location.href = "/shop/cart/"
    }

    function displayPrice() {

        setTimeout(() => {
            // document.getElementById("totalprice").innerHTML = totprice;
            for (let x = 1; x <= itemsTotal; x++) {
                var tt = document.querySelector(".price" + x);
                var zz = document.querySelector(".prods" + x);
                var yy = document.querySelector("#inputprod" + x);
                if (zz.style.display == "block") {
                    totprod++;
                    if (parseInt(tt.textContent)) {
                        let z = parseInt(yy.value);
                        totprice += parseInt(tt.textContent) * z;
                    }
                }
            }
            // console.log(tt.style.display);

            // console.log(totprice);
            document.querySelector("#totprice").textContent = totprice;
            document.querySelector("#totprice1").value = totprice;
            document.querySelector("#totalprod").textContent = totprod;

        }, 1000);
    }

</script>

{% endblock %}