{% extends 'shop/basic.html'%}

{%block title %} SHOP {% endblock %}


{% block style %}
<style>
  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

   .rating {
    float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
  body{
    background-color: #defcff;
  }
  #outerdiv{
    display: none;
  }
  #trendingProductCategory:hover{
    background-color: red;
    border: 2px solid red;
  }

  @media only screen and (max-width: 1000px) {
    #outerdiv{
      display: block;
    }
    #outerdiv2{
      display: none;
    }  
  }
</style>
{% endblock %}
<!-- Carousel Start -->
{%block body%}
{% load static %}
<div class="container my-3" style="width: 100%; height: 300px; text-align: center; margin-bottom: 10px;">
  {% for i in trendingProduct %}
  <h2><span class="badge bg-secondary">Trending Product</span></h2>
  <div class="row my-3" style="border: 2px solid black; margin-bottom: 10px;">
    <a href="/shop/products/{{i.product_id}}">
    <div class="col-sm-6 col-md-6 col-lg-3">
    <img src = '../../../media/{{i.image}}' style="height: 200px;float: left;">
  </a>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 text-start">
    <h3><i>{{i.product_name}}</i></h3>
    <h4>Price : ₹{{i.price}}</h4>
    <h4>Category : {{i.category}}</h4>
    <h4 id = 'trendingProductFinalPrice'>Dicount : 30% (₹) <script>document.getElementById('trendingProductFinalPrice').textContent = 'Dicount : 30% (₹' + eval(0.3 * {{i.price}}) + ')';</script></h4>
    <h4 style="color: red;">Total Pcs Sold : {{trendingNum}}</h4>
    
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 text-start">
    <!-- <img src = '../../../media/{{i.image}}' style="height: 200px;float: left;"> -->
    <p>{{i.product_desc}}</p>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3">
    <!-- <img src = '../../../media/{{i.image}}' style="height: 200px;float: left;"> -->
    <p style="background-color: antiquewhite; border: 2px solid black;" id = 'trendingProductCategory'>Limited<br> Pieces <br>Left..</p>
    <button class="btn btn-primary" onclick="window.location.href = '/shop/products/{{i.product_id}}'">View Product</button>
  </div>
  </div>
  {% endfor %}
</div>

<div class="container input-group">
  <span class="input-group-text" style="color: orangered; font-weight: 500;">Select Category you wish to explore </span>
  <input class="form-select" type="text" name ='cat' list = 'cat' placeholder="category" onchange="category(this)">
    <datalist id= 'cat' >
      {% for i in category %}
      <option name = 'cat' value = '{{i}}'>{{i}}</option>
      {% endfor %}
    </datalist>
  </select>
</div>

<div id='outerdiv' style="margin-top:10px;">
  {% for products, range1, nslides1, range, nslides in allprods %}
  <div class="mt-5 container" id = "{{products.0.category}}1">
    
    <h2>{{products.0.category}}</h2>
    <div id="carouselExampleDark{{forloop.counter}}1" style="background-color: white;"
      class="carousel carousel-dark  slide" data-bs-ride="carousel">
      <div class="carousel-indicators" style="width: 60px; margin: auto;">
        <button type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1" data-bs-slide-to="0"
          class="active" aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
        <button type="button" data-bs-target="#carouselExampleDark{{forloop.parent.counter}}1" data-bs-slide-to="{{i}}"
          aria-label="Slide {{i|add:'1' }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <!-- active slide -->
          <div class="row" style="text-align: center;">
            <div class="col-lg-3 col-sm-6 col-md-6 p-2">
              <div class="card" style="width: 18rem;">
                <img src='../../../media/{{products.0.image}}' class="card-img-top" style="width: 100%; height: 200px;"
                  alt="...">
                <div class="card-body" style="height: 200px;">

                  <h5 class="card-title">{{ products.0.product_name }}</h5> 
                  <fieldset class="mx-4 rating">
                    <input type="radio" id="star5{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
                </fieldset><br><br>
                  <p class="card-text">{{ products.0.product_desc|slice:"0:50" }}...</p>
                  <div style="position: absolute; bottom: 2%;">
                    <span id='divpr{{products.0.product_id}}' class='divpr'>
                      <button style="display: inline-block; " href="#" id="pr{{products.0.product_id}}"
                        class="btn btn-primary cart">Add To Cart</button>
                    </span>
                    <a type="button" href="/shop/products/{{products.0.product_id}}" id="qv{{products.0.product_id}}"
                      class="btn btn-primary">Quick View</a>
                  </div>
                </div>
              </div>
            </div>

            {% for i in products|slice:"1:" %}
            <div class="col-lg-3 col-sm-6 col-md-6 p-2">
              <div class="card" style="width: 18rem;">
                <img src="../../../media/{{i.image}}" style="width: 100%; height: 200px;" class="card-img-top"
                  alt="...">
                <div class="card-body" style="height: 200px;">
                  <h5 class="card-title">{{i.product_name}}</h5> 
                  <fieldset class="mx-4 rating" >
                    <input type="radio" id="star5{{i.product_id}}" name="rating{{i.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4{{i.product_id}}" name="rating{{i.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3{{i.product_id}}" name="rating{{i.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2{{i.product_id}}" name="rating{{i.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1{{i.product_id}}" name="rating{{i.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
                </fieldset><br><br>
                  <p class="card-text">{{ i.product_desc|slice:"0:50" }}...</p>
                  <div style="position: absolute; bottom: 2%;">
                    <span id="divpr{{i.product_id}}" class="divpr">
                      <button style="display: inline-block; " href="#" id="pr{{i.product_id}}"
                        class="btn btn-primary cart">Add To Cart</button>
                    </span>
                    <a type="button" href="/shop/products/{{i.product_id}}" id="qv{{i.product_id}}"
                      class="btn btn-primary">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:1 and forloop.counter > 0 and not forloop.last and forloop.counter < 2 %}
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
              {% endif %}

              {% if forloop.counter|add:'1'|divisibleby:2 and forloop.counter > 0 and not forloop.last and forloop.counter > 2 %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1"
          data-bs-slide="prev" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1"
          data-bs-slide="next" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    {% endfor %}
  </div>

<div id='outerdiv2' style="margin-top: 10px;">
{% for products, range, nslides, range1, nslides1 in allprods %}
<div class="mt-5 container" >
  <h2>{{products.0.category}}</h2>
  <div id="carouselExampleDark{{forloop.counter}}" style="background-color: white;" class="carousel carousel-dark  slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="width: 60px; margin: auto;">
      <button type="button"  data-bs-target="#carouselExampleDark{{forloop.counter}}" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      {% for i in range %}
      <button type="button"  data-bs-target="#carouselExampleDark{{forloop.parent.counter}}" data-bs-slide-to="{{i}}"
        aria-label="Slide {{i|add:'1' }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <!-- active slide -->
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-4 p-2">
            <div class="card" style="width: 18rem;">
              <img src='../../../media/{{products.0.image}}' class="card-img-top" style="width: 100%; height: 200px;"
                alt="...">
              <div class="card-body" style="height: 200px;">

                <h5 class="card-title">{{ products.0.product_name }}</h5> 
                <fieldset class="mx-4 rating">
                  <input type="radio" id="star5{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                  <input type="radio" id="star4{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                  <input type="radio" id="star2{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                  <input type="radio" id="star1{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
              </fieldset><br><br>
                <p class="card-text">{{ products.0.product_desc|slice:"0:50" }}...</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id='divpr{{products.0.product_id}}' class = 'divpr'>
                    <button style="display: inline-block; " href="#" id="pr{{products.0.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                  <a type="button" href="/shop/products/{{products.0.product_id}}" id="qv{{products.0.product_id}}"
                    class="btn btn-primary">Quick View</a>
                </div>
              </div>
            </div>
          </div>

          {% for i in products|slice:"1:" %}
          <div class="col-lg-3 col-sm-6 col-md-4 p-2">
            <div class="card" style="width: 18rem;">
              <img src="../../../media/{{i.image}}" style="width: 100%; height: 200px;" class="card-img-top" alt="...">
              <div class="card-body" style="height: 200px;">
                <h5 class="card-title">{{i.product_name}}</h5> 
                <fieldset class="mx-4 rating" >
                  <input type="radio" id="star5{{i.product_id}}" name="rating{{i.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                  <input type="radio" id="star4{{i.product_id}}" name="rating{{i.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3{{i.product_id}}" name="rating{{i.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                  <input type="radio" id="star2{{i.product_id}}" name="rating{{i.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                  <input type="radio" id="star1{{i.product_id}}" name="rating{{i.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
              </fieldset><br><br>
                <p class="card-text">{{ i.product_desc|slice:"0:50" }}...</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id="divpr{{i.product_id}}" class = "divpr">
                    <button style="display: inline-block; " href="#" id="pr{{i.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                  <a type="button" href="/shop/products/{{i.product_id}}" id="qv{{i.product_id}}"
                    class="btn btn-primary">Quick View</a>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last and forloop.counter < 4 %}
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row">
            {% endif %}

            {% if forloop.counter|add:'1'|divisibleby:4 and forloop.counter > 0 and not forloop.last and forloop.counter > 4 %}
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>



      <button  class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="prev" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="next" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  {% endfor %}
</div>

  {% endblock %}


  {%block js%}

  <script>

    var str = ""
    var itemsTotal = {{items}};
    //Add pop over to cart
    // $(document).ready(function () {
      //   $('#cartpop').popover();
      //   $('#cartpop').attr('data-bs-content', 'Hiii');
      // });
      
      
      //Find Out the cart from local storage
      // if (localStorage.getItem('cart') == null) {
        //   var cart = {};
        // } else {
          //   // console.log(localStorage.getItem('cart'))
          //    updateCart(cart);
          // }
    console.log('{{cart}}'.replaceAll("&quot;", '"'));
    var cart = JSON.parse('{{cart}}'.replaceAll("&quot;", '"'));
    localStorage.setItem('cart', JSON.stringify(cart));
    
    // If the add to cart is clicked then we get update
    $('.cart').click(function () {
      idstr = this.id.toString();
      // console.log('clicked ' + idstr);
      // console.log(idstr)
      cart[idstr] = 1;
      // console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      console.log()
      updateCart(cart); 
      // document.getElementById('cart1').innerHTML = Object.keys(cart).length;
      
    });
    
    var width = window.innerWidth;
    var height = window.innerHeight;
    var ScreenDestroyCounter = 0;
    console.log(width);
    if (width  > 1000 && ScreenDestroyCounter <= 1) { 
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
              console.log(response);
        }
      });
      document.getElementById('outerdiv').innerHTML = "";
      // Mobile code
    }else {
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      document.getElementById('outerdiv2').innerHTML = "";
    }
    updateCart(cart);
    
    
    function myFunction(){
      console.log(width);
    if (width  > 1000 && ScreenDestroyCounter <= 1) {
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      document.getElementById('outerdiv').innerHTML = "";
      // Mobile code
    } else {
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      document.getElementById('outerdiv2').innerHTML = "";
    }
    
  }
window.addEventListener("resize", myFunction);
  
  
  //Update cart function
    function updateCart(cart) {
      // console.log('hihsdfihdsf');
      for (var item in cart) {
        if(cart[item])
          document.getElementById('div' + item).innerHTML = "<button id = 'minus" + item + "' class = 'btn btn-primary minus'> - </button> <span id = 'val" + item + "'>" + cart[item] + "</span> <button id = 'plus" + item + "' class = 'btn btn-primary plus'> + </button>"
      }
      cart = JSON.parse(localStorage.getItem('cart'));
      var tocart = localStorage.getItem('cart');
      var finalcart = []
      // console.log("Hey this is the cart : " + cart["pr1"]);
      for(let i = 1; i <= itemsTotal; i++){
        // console.log("The item no. " + i + " has units : " + cart["pr" + i]);
        if(cart["pr" + i]){
          // console.log("i is : " + i);
          finalcart.push([i, cart["pr" + i]])
        }
      }
      // console.log("Final cart here : ")
      // console.log(finalcart)
      var sumis = 0;
      for(let x in finalcart){
        // console.log(finalcart[x])
        sumis += finalcart[x][1];
      }
      document.getElementById('cart1').innerHTML = sumis;
      var sum = 0;
      // for (var i in cart){
      //   console.log("here is ; " + i);
      //   console.log(document.getElementById(i).textContent);
      // }
    }
    
    // Plus minus buttons
    $('.divpr').on("click", "button.minus", function(){
      // console.log("Minus clicked");
      a = this.id.slice(7, );
      // console.log(a)
      // cart['pr' + a]  = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a] - 1);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $('.divpr').on("click", "button.plus", function(){
      // console.log("Plus clicked");
      b = this.id.slice(6, );
      // console.log(b)
      cart['pr' + b]  = cart['pr' + b] + 1;
      document.getElementById('valpr' + b).innerHTML = cart['pr' + b]
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $(window).bind('beforeunload', function(){
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
          type: "POST",
          url: '{{ "/shop/beforeReload/" }}',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
          success: function callback(response){
              console.log(response);
        }
      });
        // return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
});

    // window.onbeforeunload = function(event)
    // {
    //   return confirm("HIi");
    //   var text = localStorage.getItem('cart'); 
    //   setTimeout(() => {
    //     console.log('hiii');
    //   }, 1000);
    //   $.ajax({
        
    //       type: "POST",
    //       url: '{{ "/shop/beforeReload/" }}',
    //       data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
    //       success: function callback(response){
    //           console.log(response);
    //     }
    //   });

    // console.log(document.getElementById('star11').value);
    // document.getElementById('star11').checked = true;
    
    {% for i in ratingProduct %}
    document.querySelector('#star{{i.1}}{{i.0}}').checked = true;
    // console.log('star{{i.1}}{{i.0}} ',  {{i.1}})
    // document.getElementsByName('rating{{i.product_id}}').value = {{i.rating}};
    {% endfor %}


    function category(item){
      document.getElementById('searchValue').value = item.value
      document.getElementById('searchForm').submit();
      console.log(item.value);
    }

  </script>

  {%endblock%}