{% extends 'shop/basic.html'%}

{%block title %} SHOP {% endblock %}


{% block style %}
<style>
  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

   .rating {
    float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
  body{
    background-color:  white;
  }
  #outerdiv{
    display: none;
  }
  #outerdiv3{
    display: none;
  }
  #trendingProductCategory:hover{
    background-color: red;
    border: 2px solid red;
  }
  /* .myimg:hover{
    transform: scale(0.9);
  } */

  .mycard{
    transition: 1s;
  }

  .mycard:hover{
    
    transition: transform 0.6s ease;
    transform: scale(0.9)  skew(0deg, 1deg);
    background-color:#defcff;
    box-shadow: 10px 10px 8px 10px #888888;
    z-index: 9999;
  }
  .myTrendingImage{
    height: 200px;
    float: none;
  }
  .CatDropDown:hover .CatInnerDrop {
    display: block;
    margin-top: 0; 
 }

 @media only screen and (max-width: 767px) {
  .myDivCat{
  overflow-x: scroll;
  white-space: nowrap;
  height: 200px;
  position: relative;
 }
 .item {
  display: inline-block;
  height: auto;
  z-index: 999999;
}
 }


  @media only screen and (max-width: 1000px) {
    #outerdiv{
      display: block;
    }
    #outerdiv2{
      display: none;
    }
    #outerdiv3{
      display: none;
    }
    .myTrendingImage{
      text-align: center;
      height: 200px;
      float: none;
    }
    
  }
  @media only screen and (max-width: 600px) {

    #outerdiv{
      display: none;
    }
    #outerdiv2{
      display: none;
    }
    #outerdiv3{
      display: block;
    }
    .myTrendingImage{
      text-align: center;
      height: 200px;
      float: none;
    }
  }
  .dropdown {
            margin: 0;
            padding: 0;
            list-style: none;
            color: black;
            z-index: 99999;
        }

        .dropdown li {
            position: relative;
        }

        .dropdown li a {
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            display: block;
            padding: 10px;
        }

        .dropdown li ul {
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: none;
            line-height: normal;
            background-color: white;
        }

        .dropdown li ul li a {
            text-align: left;
            color: black;
            font-size: 14px;
            padding: 10px;
            display: block;
            white-space: nowrap;
        }

        .dropdown li ul li a:hover {
            background-color: bisque;
            color: black;
        }

        .dropdown li ul li ul {
            left: 100%;
            top: 0;
        }
        ul li:hover>ul {
            display: block;
            color: black;
        }        
        
        ul li:hover>a {
            background-color: white;
            color: black !important;
        }
        .show {display:block;}

</style>
{% endblock %}
<!-- Carousel Start -->
{%block body%}
{% load static %}
<div class="container-fluid mb-2 ">
  <div id="myDivCat" class="row myDivCat">
    <div class="col-1 item">

    </div>
    
    <div class="col-1 item">
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/GroceryCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span></span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Grocery<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict1 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </li>
      </ul>
        </p>
    </div>
    <div class="col-1 item" >
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/FashionCat.jpg' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Fashion</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Fashion<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict2 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </li>
      </ul>
      </p>
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/MobileCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Mobiles</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Mobiles<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict3 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </li>
      </ul>
        
      </p>
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/tvCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Appliances</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black; padding: 0px;">Appliances<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict4 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </li>
      </ul>
        
      </p>
    </div>
    <!-- {{subcategoriesDict}} -->
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/ElectronicsCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Electronics</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown" id = 'myDropdown'>
          <li><a href="#" style="color:black;padding: 0px;">Electronics<i class="mx-1 fas fa-angle-down"></i></a>
              <ul>
                {% for i in subcategoriesDict5 %}
                <li><a href="#">{{i.0}}</a>
                  <ul>
                    {% for j in i.1 %}
                    <li><a href="/shop/search1/{{j}}">{{j}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
          </li>
      </ul>
      </p>
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/HomeCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Home</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Home<i class="mx-1 fas fa-angle-down"></i></a>
              <ul>
                {% for i in subcategoriesDict6 %}
                <li><a href="#">{{i.0}}</a>
                  <ul>
                    {% for j in i.1 %}
                    <li><a href="#">{{j}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% endfor %}
              </ul>
          </li>
        </ul>
      </p>
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/HeadphoneCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Music</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Music<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict7 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
      </p>
    </div>
    <div class="col-1 item">
      <img class="mx-auto myTrendingImage" src = '../../../media/CatBack/OtherCat.png' style="height: 64px; width:64px;">
      <p class="d-inline">
        <!-- <span>Others</span><i class="mx-1 fas fa-angle-down"></i> -->
        <ul class="dropdown">
          <li><a href="#" style="color:black;padding: 0px;">Others<i class="mx-1 fas fa-angle-down"></i></a>
            <ul>
              {% for i in subcategoriesDict8 %}
              <li><a href="#">{{i.0}}</a>
                <ul>
                  {% for j in i.1 %}
                  <li><a href="#">{{j}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
      </p>
    </div>

    <div class="col-1 item">
    </div>
  </div>
</div>

<h4 class="text-center"><span class="badge bg-secondary">Great Deals</span></h4>
<div class="container-fluid my-3 text-white p-3" style="background-color:#464a82; width: 100%; height: 10%; text-align: center; margin-bottom: 10px;">
  <div id="trendCarousel" class="carousel  slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        {% for i in trendingProduct|slice:"0:1" %}
        <div class="row">
          <div class="col-lg-2">
            
          </div>
          <div class="col-lg-4">
            <a  onclick="NewTab('{{i.0.product_id}}');" href ='#'>
              <img class="mx-auto myTrendingImage" src = '../../../media/{{i.0.image}}'>
            </a>
          </div>
          <div class="col-lg-4">
            <!-- <h2>{{i.0.product_name}}</h2>
            <h3>₹{{i.0.price}}</h3> -->
            <p style="display: inline-block;">
              <b style="font-size:xx-large;">₹{{i.0.price}}</b>
            <span style="color: lightgrey; font-size: medium;"><strike id="trendingIncPrice{{i.0.product_id}}">₹</strike></span>
            <span style="color: lightgreen;">{{i.0.discount}}% Off</span>
          </p>
            <pre style="font-size: large;">{{i.0.product_desc|slice:"0:30"}}...</pre>
            <h5 id="trendingNumber{{i.0.product_id}}"></h5>
          </div>
          <div class="col-lg-2">
      
          </div>
        </div>
        {% endfor %}
        </div>
        {% for i in trendingProduct|slice:"1:6" %}
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-2">
        
            </div>
            <div class="col-lg-4">
              <a  onclick="NewTab('{{i.0.product_id}}');" href ='#'>
                <img class="mx-auto myTrendingImage" src = '../../../media/{{i.0.image}}'>
              </a>
            </div>
            <div class="col-lg-4">
            <!-- <h2>{{i.0.product_name}}</h2>
            <h3>₹{{i.0.price}}</h3> -->
            <p style="display: inline-block;">
              <b style="font-size:xx-large;">₹{{i.0.price}}</b>
            <span style="color: lightgrey; font-size: medium;"><strike id="trendingIncPrice{{i.0.product_id}}">₹</strike></span>
            <span style="color: lightgreen;">{{i.0.discount}}% Off</span>
          </p>
            <pre style="font-size: large;">{{i.0.product_desc|slice:"0:30"}}...</pre>
            <h5 id="trendingNumber{{i.0.product_id}}"></h5>
            </div>
            <div class="col-lg-2">
        
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#trendCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#trendCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- {{i}}
  <h4><span class="badge bg-secondary">Great Deals</span></h4>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
      <a href="/shop/products/{{i.product_id}}">
        <img class="mx-auto myTrendingImage" src = '../../../media/{{i.image}}'>
      </a>
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-2">

    </div>
  </div> -->
  
  <!-- <div class="row my-3" style="margin-bottom: 10px;">
    <a href="/shop/products/{{i.product_id}}">
    <div class="mt-3 col-sm-6 col-md-6 col-lg-3">
    <img class="myTrendingImage" src = '../../../media/{{i.image}}'>
  </a>
  </div>
  <div class="mt-3 col-sm-6 col-md-6 col-lg-3 text-start">
    <h3><i>{{i.product_name}}</i></h3>
    <h4>Price : ₹{{i.price}}</h4>
    <h4>Category : {{i.category}}</h4>
    <h4 id = 'trendingProductFinalPrice'>Dicount : 30% (₹) <script>document.getElementById('trendingProductFinalPrice').textContent = 'Dicount : 30% (₹' + eval(0.3 * {{i.price}}) + ')';</script></h4>
    <h4 style="color: red;">Total Pcs Sold : {{trendingNum}}</h4>
    
  </div>
  <div class="mt-3 col-sm-6 col-md-6 col-lg-3 text-start"> -->
    <!-- <img src = '../../../media/{{i.image}}' style="height: 200px;float: left;"> -->
    <!-- <p>{{i.product_desc}}</p> -->
  <!-- </div>
  <div class="mt-3 col-sm-6 col-md-6 col-lg-3"> -->
    <!-- <img src = '../../../media/{{i.image}}' style="height: 200px;float: left;"> -->
    <!-- <p style="background-color: antiquewhite; border: 2px solid black;" id = 'trendingProductCategory'>Limited<br> Pieces <br>Left..</p>
    <button class="btn btn-primary my-3" onclick="window.location.href = '/shop/products/{{i.product_id}}'">View Product</button>
  </div>
  </div> -->
</div>

<div class="container input-group">
  <span class="input-group-text" style="color: orangered; font-weight: 500;">Select Category </span>
  <select class="form-select" type="text" list = 'cat' placeholder="category" onchange="category(this)">
      {% for i in category %}
      <option name = 'cat' value = '{{i}}'>{{i}}</option>
      {% endfor %}
  </select>
</div>

<div id='outerdiv' style="margin-top:10px;">
  {% for products, range1, nslides1, range, nslides, range2, nslides2 in allprods %}
  <div class="mt-2 container-fluid" id = "{{products.0.category}}1">
    <h3 class="mb-2">{{products.0.subcategory}}</h3>
    <div id="carouselExampleDark{{forloop.counter}}1" style="background-color: white;"
      class="carousel carousel-dark  slide" data-bs-ride="carousel">
      <div class="carousel-indicators" style="width: 60px; margin: auto;">
        <button type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1" data-bs-slide-to="0"
          class="active" aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
        <button type="button" data-bs-target="#carouselExampleDark{{forloop.parent.counter}}1" data-bs-slide-to="{{i}}"
          aria-label="Slide {{i|add:'1' }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <!-- active slide -->
          <div class="row justify-content-between" style="text-align: center;">
            <div class="col-lg-4 col-sm-4 col-md-4 p-2">
              {% if products.0.category == 'SmartPhone' %}
              <div class="card mycard" style="width: 18rem; height: 500px;">
                <a onclick="NewTab('{{products.0.product_id}}');" href = '#'>
                  <img src='../../../media/{{products.0.image}}' class="card-img-top myimg" style="width: 100%; height: 300px;"
                  alt="...">
                </a>
                  {% else %}
                  <div class="card mycard" style="width: 18rem;">
                    <a onclick="NewTab('{{products.0.product_id}}');" href = '#'>
                    <img src='../../../media/{{products.0.image}}' class="card-img-top myimg" style="width: 100%; height: 200px;"
                      alt="...">
                    </a>
                    {% endif %}
                <div class="card-body" style="height: 200px;">

                  <h5 class="card-title">{{ products.0.product_name|slice:"0:15" }}</h5> 
                  <fieldset class="mx-4 rating">
                    <input type="radio" id="star5{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
                </fieldset><br><br>
                  <p class="card-text">{{ products.0.product_desc|slice:"0:50" }}...</p>
                  <div style="position: absolute; bottom: 2%;">
                    <span id='divpr{{products.0.product_id}}' class='divpr'>
                      <button style="display: inline-block;" href="#" id="pr{{products.0.product_id}}"
                        class="btn btn-primary cart">Add To Cart</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            {% for i in products|slice:"1:" %}
            <div class="col-lg-4 col-sm-4 col-md-4 p-2">
              {% if i.category == 'SmartPhone' %}
              <div class="card mycard" style="width: 18rem; height: 500px;">
                <a  onclick="NewTab('{{i.product_id}}');" href ='#'>
                  <img src='../../../media/{{i.image}}' class="card-img-top myimg" style="width: 100%; height: 300px;"
                  alt="...">
                </a>
                  {% else %}
                  <div class="card mycard" style="width: 18rem;">
                    <a onclick="NewTab('{{i.product_id}}');" href ='#'>
                    <img src='../../../media/{{i.image}}' class="card-img-top myimg" style="width: 100%; height: 200px;"
                      alt="...">
                    </a>
                    {% endif %}
                <div class="card-body" style="height: 200px;">
                  <h5 class="card-title">{{i.product_name|slice:"0:15"}}</h5> 
                  <fieldset class="mx-4 rating" >
                    <input type="radio" id="star5{{i.product_id}}" name="rating{{i.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4{{i.product_id}}" name="rating{{i.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3{{i.product_id}}" name="rating{{i.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2{{i.product_id}}" name="rating{{i.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1{{i.product_id}}" name="rating{{i.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
                </fieldset><br><br>
                  <p class="card-text">{{ i.product_desc|slice:"0:50" }}...</p>
                  <div style="position: absolute; bottom: 2%;">
                    <span id="divpr{{i.product_id}}" class="divpr">
                      <button style="display: inline-block; " href="#" id="pr{{i.product_id}}"
                        class="btn btn-primary cart">Add To Cart</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last and forloop.counter < 3 %}
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row justify-content-between">
              {% endif %}

              {% if forloop.counter|add:'1'|divisibleby:3 and forloop.counter > 0 and not forloop.last and forloop.counter > 3 %}
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row justify-content-between">
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>


        <button style="z-index: 9999; margin-top: auto; margin-bottom: auto; height: 100px; width: 100px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1"
          data-bs-slide="prev" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button  style="z-index: 9999; margin-top: auto; margin-bottom: auto;  height: 100px; width: 100px;"class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}1"
          data-bs-slide="next" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
    {% endfor %}
  </div>

<div id='outerdiv2' style="margin-top: 10px; background-color:  white;">
{% for products, range, nslides, range1, nslides1, range2, nslides2 in allprods %}
<div class="mt-2 container-fluid" >
  <p class="d-inline mb-3" id='categoryP|{{products.0.subcategory1}}'>
  <span class="mb-2" style="font-weight: 500; font-size: x-large;" >{{products.0.subcategory1}}</span>
  <button type="button" class="btn btn-primary mb-3" style="float: right;" onclick="viewAll(this);">View All</button>
</p>
  <div id="carouselExampleDark{{forloop.counter}}" style="background-color:white;" class="carousel carousel-dark  slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="width: 60px; margin: auto;">
      <button type="button"  data-bs-target="#carouselExampleDark{{forloop.counter}}" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      {% for i in range %}
      <button type="button"  data-bs-target="#carouselExampleDark{{forloop.parent.counter}}" data-bs-slide-to="{{i}}"
        aria-label="Slide {{i|add:'1' }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <!-- active slide -->
        <div class="row justify-content-between">
          <div class="col-lg-2 col-sm-6 col-md-4 p-2">
            {% if products.0.category == 'SmartPhone' %}
            <div class="card mycard" style="width: 16rem; height: 500px;">
              <a onclick="NewTab('{{products.0.product_id}}');"  href = '#'>
                <img src='../../../media/{{products.0.image}}' class="card-img-top myimg" style="width: 100%; height: 300px;"
                alt="...">
              </a>
                {% else %}
                <div class="card mycard" style="width: 16rem;">
                  <a  onclick="NewTab('{{products.0.product_id}}');" href = '#'>
                  <img src='../../../media/{{products.0.image}}' class="card-img-top myimg" style="width: 100%; height: 200px;"
                    alt="...">
                  </a>
                  {% endif %}
              </a>
              <div class="card-body text-dark" style="height: 200px; background-color:  white;">

                <h5 class="card-title">{{ products.0.product_name|slice:"0:15" }}</h5> 
                <fieldset class="mx-4 rating">
                  <input type="radio" id="star5{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                  <input type="radio" id="star4{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                  <input type="radio" id="star2{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                  <input type="radio" id="star1{{products.0.product_id}}" name="rating{{products.0.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
              </fieldset><br><br>
                <p class="card-text">{{ products.0.product_desc|slice:"0:50" }}...</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id='divpr{{products.0.product_id}}' class = 'divpr'>
                    <button style="display: inline-block; " href="#" id="pr{{products.0.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          {% for i in products|slice:"1:" %}
          <div class="col-lg-2 col-sm-6 col-md-4">
            {% if i.category == 'SmartPhone' %}
            <div class="card mycard" style="width: 16rem; height: 500px;">
              <a onclick="NewTab('{{i.product_id}}');" href ='#'>
                <img src='../../../media/{{i.image}}' class="card-img-top myimg" style="width: 100%; height: 300px;"
                alt="...">
              </a>
                {% else %}
                <div class="card mycard" style="width: 16rem;">
                  <a  onclick="NewTab('{{i.product_id}}');" href ='#'>
                  <img src='../../../media/{{i.image}}' class="card-img-top myimg" style="width: 100%; height: 200px;"
                    alt="...">
                  </a>
                  {% endif %}
              <div class="card-body text-dark" style="height: 200px; background-color: white;">
                <h5 class="card-title">{{i.product_name|slice:"0:15"}}</h5> 
                <fieldset class="mx-4 rating" >
                  <input type="radio" id="star5{{i.product_id}}" name="rating{{i.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
                  <input type="radio" id="star4{{i.product_id}}" name="rating{{i.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3{{i.product_id}}" name="rating{{i.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
                  <input type="radio" id="star2{{i.product_id}}" name="rating{{i.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
                  <input type="radio" id="star1{{i.product_id}}" name="rating{{i.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
              </fieldset><br><br>
                <p class="card-text">{{ i.product_desc|slice:"0:50" }}...</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id="divpr{{i.product_id}}" class = "divpr">
                    <button style="display: inline-block; " href="#" id="pr{{i.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last and forloop.counter < 5 %}
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row justify-content-between">
            {% endif %}

            {% if forloop.counter|add:'1'|divisibleby:5 and forloop.counter > 0 and not forloop.last and forloop.counter > 5 %}
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row justify-content-between">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>



      <button  style="z-index: 9999;margin-top: auto; margin-bottom: auto; height: 100px; width: 100px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="prev" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button  style="z-index: 9999; margin-top: auto; margin-bottom: auto; height: 100px; width: 100px;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="next" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  {% endfor %}
</div>

<div class="outerdiv3 my-2" id='outerdiv3'>
  {% for products, range1, nslides1, range2, nslides2, range, nslides in allprods %}
  <hr>
  <h3 class="mb-2">{{products.0.subcategory}}</h3>
  {% for i in products|slice:"0:5"%}
  <div class="card mycard mt-1" style="height: 230px;position: relative;">
    <div class="row">
      <div class="col-3">
        <a href = '/shop/products/{{i.product_id}}'>
          <img src="../../../media/{{i.image}}" class="card-img-top myimg" style="height: 200px; width: 100px;
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);" alt="...">
        </a>
      </div>
      <div class="col-9">
        <div class="card-body">
          <h5 class="card-title">{{i.product_name|slice:"0:15"}}</h5>
        <fieldset class="rating" >
              <input type="radio" id="star5{{i.product_id}}" name="rating{{i.product_id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4{{i.product_id}}" name="rating{{i.product_id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3{{i.product_id}}" name="rating{{i.product_id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2{{i.product_id}}" name="rating{{i.product_id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1{{i.product_id}}" name="rating{{i.product_id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
          </fieldset><br><br>
          <p style="display: inline-block;">
            <b style="font-size:xx-large;">₹{{i.price}}</b>
          <span style="color: grey; font-size: medium;"><strike id="mobileIncPrice{{i.product_id}}">₹</strike></span>
          <span style="color: green;">{{i.discount}}% Off</span>
        </p>
          <!-- <span><b>₹{{i.price}}</b></span> -->
          <p class="card-text">{{i.product_desc|slice:"0:50"}}</p>
          <small>No Cost EMI</small>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

  {% endblock %}


  {%block js%}

  <script>

    var str = ""
    var itemsTotal = {{items}};
    //Add pop over to cart
    // $(document).ready(function () {
      //   $('#cartpop').popover();
      //   $('#cartpop').attr('data-bs-content', 'Hiii');
      // });
      
      
      //Find Out the cart from local storage
      // if (localStorage.getItem('cart') == null) {
        //   var cart = {};
        // } else {
          //   // console.log(localStorage.getItem('cart'))
          //    updateCart(cart);
          // }
    console.log('{{cart}}'.replaceAll("&quot;", '"'));
    var cart = JSON.parse('{{cart}}'.replaceAll("&quot;", '"'));
    localStorage.setItem('cart', JSON.stringify(cart));
    
    // If the add to cart is clicked then we get update
    $('.cart').click(function () {
      idstr = this.id.toString();
      // console.log('clicked ' + idstr);
      // console.log(idstr)
      cart[idstr] = 1;
      // console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      console.log()
      updateCart(cart); 
      // document.getElementById('cart1').innerHTML = Object.keys(cart).length;
      
    });
    
    var width = window.innerWidth;
    var height = window.innerHeight;
    var ScreenDestroyCounter = 0;
    console.log(width);
    if (width  > 1000 && ScreenDestroyCounter <= 1) { 
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
              console.log(response);
        }
      });
      document.getElementById('outerdiv3').innerHTML = ""
      document.getElementById('outerdiv').innerHTML = "";
      // Mobile code
    }else if(width > 600){
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      document.getElementById('outerdiv2').innerHTML = ""
      document.getElementById('outerdiv3').innerHTML = "";
    }else{
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      if(document.getElementById('outerdiv'))
          document.getElementById('outerdiv').innerHTML = "";
      if(document.getElementById('outerdiv2'))
          document.getElementById('outerdiv2').innerHTML = ""
    }
    if(width  > 600)
    updateCart(cart);
    
    
    function myFunction(){
      console.log(width);
    if (width  > 1000 && ScreenDestroyCounter <= 1) {
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      document.getElementById('outerdiv').innerHTML = "";
      document.getElementById('outerdiv3').innerHTML = "";
      // Mobile code
    } else if(width > 600){
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      document.getElementById('outerdiv2').innerHTML = "";
      document.getElementById('outerdiv3').innerHTML = "";
    }else {
      if(ScreenDestroyCounter > 1){
        window.location.href = '/shop/'
      }
      ScreenDestroyCounter++;
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
        type: "POST",
        url: '{{ "/shop/beforeReload/" }}',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
        success: function callback(response){
          console.log(response);
        }
      });
      // Other code
      document.getElementById('outerdiv2').innerHTML = "";
      document.getElementById('outerdiv').innerHTML = "";
    }
    
  }
// window.addEventListener("resize", myFunction);
  
  
  //Update cart function
    function updateCart(cart) {
      // console.log('hihsdfihdsf');
      for (var item in cart) {
        if(cart[item])
        try{
          document.getElementById('div' + item).innerHTML = "<button id = 'minus" + item + "' class = 'btn btn-primary minus'> - </button> <span id = 'val" + item + "'>" + cart[item] + "</span> <button id = 'plus" + item + "' class = 'btn btn-primary plus'> + </button>"
        }catch(err){
          localStorage.setItem('cart', '{}');
          window.location.href = '/shop/'
        }
      }
      cart = JSON.parse(localStorage.getItem('cart'));
      var tocart = localStorage.getItem('cart');
      var finalcart = []
      // console.log("Hey this is the cart : " + cart["pr1"]);
      {% for i in products %}
        // console.log("The item no. " + i + " has units : " + cart["pr" + i]);
        if(cart["pr" + {{i.product_id}}]){
          // console.log("i is : " + i);
          finalcart.push([{{i.product_id}}, cart["pr" + {{i.product_id}}]])
        }
      {% endfor %}
      // console.log("Final cart here : ")
      // console.log(finalcart)
      var sumis = 0;
      for(let x in finalcart){
        // console.log(finalcart[x])
        sumis += finalcart[x][1];
      }
      document.getElementById('cart1').innerHTML = sumis;
      var sum = 0;
      // for (var i in cart){
      //   console.log("here is ; " + i);
      //   console.log(document.getElementById(i).textContent);
      // }
      var text = localStorage.getItem('cart'); 
      localStorage.setItem('cart', JSON.stringify(cart));
      console.log(text);
      $.ajax({
          type: "POST",
          url: '{{ "/shop/beforeReload/" }}',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
          success: function callback(response){
              console.log(response);
        }
      });
    }
    
    // Plus minus buttons
    $('.divpr').on("click", "button.minus", function(){
      // console.log("Minus clicked");
      a = this.id.slice(7, );
      // console.log(a)
      // cart['pr' + a]  = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a] - 1);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $('.divpr').on("click", "button.plus", function(){
      // console.log("Plus clicked");
      b = this.id.slice(6, );
      // console.log(b)
      cart['pr' + b]  = cart['pr' + b] + 1;
      document.getElementById('valpr' + b).innerHTML = cart['pr' + b]
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $(window).bind('beforeunload', function(){
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
          type: "POST",
          url: '{{ "/shop/beforeReload/" }}',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
          success: function callback(response){
              console.log(response);
        }
      });
        // return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
});

    // window.onbeforeunload = function(event)
    // {
    //   return confirm("HIi");
    //   var text = localStorage.getItem('cart'); 
    //   setTimeout(() => {
    //     console.log('hiii');
    //   }, 1000);
    //   $.ajax({
        
    //       type: "POST",
    //       url: '{{ "/shop/beforeReload/" }}',
    //       data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
    //       success: function callback(response){
    //           console.log(response);
    //     }
    //   });

    // console.log(document.getElementById('star11').value);
    // document.getElementById('star11').checked = true;
    
    {% for i in ratingProduct %}
    try{
      document.querySelector('#star{{i.1}}{{i.0}}').checked = true;
      console.log('star{{i.1}}{{i.0}} ',  {{i.1}})
      // document.getElementsByName('rating{{i.product_id}}').value = {{i.rating}};
    }catch(e){

    }
      {% endfor %}


    function category(item){
      try{
      document.getElementById('searchValue').value = item.value
      document.getElementById('searchForm').submit();
      console.log(item.value);
      }catch(err){
        document.getElementById('searchValue1').value = item.value
      document.getElementById('searchForm1').submit();
      console.log(item.value);
      }
    }

    function viewAll(item){
      try{
      let x = item.parentNode.id;
      x = x.split('|');
      // console.log(x);
      document.getElementById('searchValue').value = x[1];
      document.getElementById('searchBtn').click();
      // console.log(item.value);
      }catch(err){
        console.log('In catch '  + err);
      //   document.getElementById('searchValue1').value = item.value
      // document.getElementById('searchForm1').submit();
      // console.log(item.value);
      }
    }

    function categoriesSearch(item){
      try{
      let x = item;
      console.log(x);
      document.getElementById('searchValue').value = x;
      // document.getElementById('searchBtn').click();
      // console.log(item.value);
      }catch(err){
        console.log('In catch '  + err);
      //   document.getElementById('searchValue1').value = item.value
      // document.getElementById('searchForm1').submit();
      // console.log(item.value);
      }
    }




    {% for i in trendingNum %}
    
    document.getElementById('trendingNumber{{i.0|slice:"2:"}}').textContent = 'Total sale : ' + {{i.1}};

    {% endfor %}

    if(width < 600){
    {% for products, range1, nslides1, range2, nslides2, range, nslides in allprods %}
      {% for i in products|slice:"0:5"%}
      document.getElementById('mobileIncPrice{{i.product_id}}').innerHTML = '₹' + (({{i.price}} * ({{i.discount}} / 100)) + {{i.price}})
      {% endfor %}
    {% endfor %}
    }

    {% for i in trendingProduct|slice:"0:6" %}
    document.getElementById('trendingIncPrice{{i.0.product_id}}').innerHTML = '₹' + (({{i.0.price}} * ({{i.0.discount}} / 100)) + {{i.0.price}})
    {% endfor %}

  function NewTab(x) {
            window.open(
              "/shop/products/" + x, "_blank");
        }


  if(width < 1000){
    var b = document.getElementById('myDivCat').className = 'myDivCat';
    var a = document.querySelectorAll('.item');
    var c = document.getElementsByClassName('item');
    console.log(a);
    for(let x in a){
      console.log(a[x].className = 'item')
    }
    for(var i = 0; i < c.length; i++){
      c[i].addEventListener('click', myyF, false)
    }
  }

function myyF(this1){
  document.getElementById("myDropdown").classList.toggle("show");
}

  </script>

  {%endblock%}