{% extends 'shop/basic.html'%}

{%block title %} SHOP {% endblock %}
<!-- Carousel Start -->
{%block body%}
{% load static %}
{% for products, range, nslides in allprods %}
<div class="mt-5 container">
  <h2>{{products.0.category}}</h2>
  <div id="carouselExampleDark{{forloop.counter}}" class="carousel carousel-dark  slide" data-bs-ride="carousel">
    <div class="carousel-indicators" style="width: 40px; margin: auto;">
      <button type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      {% for i in range %}
      <button type="button" data-bs-target="#carouselExampleDark{{forloop.parent.counter}}" data-bs-slide-to="{{i}}"
        aria-label="Slide {{i|add:'1' }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <!-- active slide -->
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
              <img src='../../../media/{{products.0.image}}' class="card-img-top" style="width: 100%; height: 150px;"
                alt="...">
              <div class="card-body" style="height: 200px;">

                <h5 class="card-title">{{ products.0.product_name }}</h5>
                <p class="card-text">{{ products.0.product_desc }}</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id='divpr{{products.0.product_id}}' class = 'divpr'>
                    <button style="display: inline-block; " href="#" id="pr{{products.0.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                  <a type="button" href="/shop/products/{{products.0.product_id}}" id="qv{{products.0.product_id}}"
                    class="btn btn-primary">Quick View</a>
                </div>
              </div>
            </div>
          </div>

          {% for i in products|slice:"1:" %}
          <div class="col-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="../../../media/{{i.image}}" style="width: 100%; height: 150px;" class="card-img-top" alt="...">
              <div class="card-body" style="height: 200px;">
                <h5 class="card-title">{{i.product_name}}</h5>
                <p class="card-text">{{ i.product_desc|slice:"0:50" }}...</p>
                <div style="position: absolute; bottom: 2%;">
                  <span id="divpr{{i.product_id}}" class = "divpr">
                    <button style="display: inline-block; " href="#" id="pr{{i.product_id}}"
                      class="btn btn-primary cart">Add To Cart</button>
                  </span>
                  <a type="button" href="/shop/products/{{i.product_id}}" id="qv{{i.product_id}}"
                    class="btn btn-primary">Quick View</a>
                </div>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last and forloop.counter < 4 %}
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row">
            {% endif %}

            {% if forloop.counter|add:'1'|divisibleby:4 and forloop.counter > 0 and not forloop.last and forloop.counter > 4 %}
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>


      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="prev" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="next" style="height: 110px; width: 110px; margin-top: auto; margin-bottom: auto;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
  {% endfor %}
  <button type = 'button' onclick="mail_check();">Hiii</button>
  {% endblock %}


  {%block js%}

  <script>
  function mail_check() {
  // var val = $("#val").val();
  // console.log("hiii");
  $.getJSON('timepass/',

  function(data) {
  // console.log(data)  
  });
}
    var str = ""
    var itemsTotal = {{items}};
    //Add pop over to cart
    // $(document).ready(function () {
    //   $('#cartpop').popover();
    //   $('#cartpop').attr('data-bs-content', 'Hiii');
    // });


    //Find Out the cart from local storage
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    } else {
      // console.log(localStorage.getItem('cart'))
       updateCart(cart);
    }

    // If the add to cart is clicked then we get update
    $('.cart').click(function () {
      idstr = this.id.toString();
      // console.log('clicked ' + idstr);
      // console.log(idstr)
      cart[idstr] = 1;
      // console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart); 
      // document.getElementById('cart1').innerHTML = Object.keys(cart).length;

    });

    //Update cart function
    function updateCart(cart) {
      // console.log('hihsdfihdsf');
      for (var item in cart) {
        if(cart[item])
          document.getElementById('div' + item).innerHTML = "<button id = 'minus" + item + "' class = 'btn btn-primary minus'> - </button> <span id = 'val" + item + "'>" + cart[item] + "</span> <button id = 'plus" + item + "' class = 'btn btn-primary plus'> + </button>"
      }
      cart = JSON.parse(localStorage.getItem('cart'));
      var tocart = localStorage.getItem('cart');
      var finalcart = []
      // console.log("Hey this is the cart : " + cart["pr1"]);
      for(let i = 1; i <= itemsTotal; i++){
        // console.log("The item no. " + i + " has units : " + cart["pr" + i]);
        if(cart["pr" + i]){
          // console.log("i is : " + i);
          finalcart.push([i, cart["pr" + i]])
        }
      }
      // console.log("Final cart here : ")
      // console.log(finalcart)
      var sumis = 0;
      for(let x in finalcart){
        // console.log(finalcart[x])
        sumis += finalcart[x][1];
      }
      document.getElementById('cart1').innerHTML = sumis;
      var sum = 0;
      // for (var i in cart){
      //   console.log("here is ; " + i);
      //   console.log(document.getElementById(i).textContent);
      // }
    }
    
    // Plus minus buttons
    $('.divpr').on("click", "button.minus", function(){
      // console.log("Minus clicked");
      a = this.id.slice(7, );
      // console.log(a)
      // cart['pr' + a]  = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a] - 1);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $('.divpr').on("click", "button.plus", function(){
      // console.log("Plus clicked");
      b = this.id.slice(6, );
      // console.log(b)
      cart['pr' + b]  = cart['pr' + b] + 1;
      document.getElementById('valpr' + b).innerHTML = cart['pr' + b]
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

  </script>

  {%endblock%}