{% extends 'shop/basic.html'%}

{%block title %} Tracker {% endblock %}

{%block body%}

<div class="container">
{% for i in final %}
<h2>Cart {{forloop.counter}}</h2>
<div class="row" > 
    <!-- onclick="window.location.href = '/shop/trackCart/'"> -->
    <div class="col-sm-12 col-md-4 col-lg-4">
    <ol class="mx-1">
{% for j in i %}
    <li>{{j.0.0.product_name}}</li>
     --- Pieces : {{j.1}}<br>
     --- Price : ₹ <span class="price{{forloop.counter}}">{{j.0.0.price}}</span>
{% endfor %}
</ol>
<span class="totalPrice{{forloop.counter}}">Total Price : ₹ </span><br><br>
<a class="btn btn-primary" href = "/shop/trackCart"> Show complete details </a>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <p>Number of days for delivery : {{i.0.2}}</p>
    <p id = "getMyState{{forloop.counter}}"></p>
</div>
<div class="col-sm-12 col-md-4 col-lg-4">
    <div class="container my-3">
        <div id='map{{forloop.counter}}' style='width: 400px; height: 300px;'></div>
    </div>
</div>
{% endfor %}
</div>


</div>
{% endblock %}

{% block js %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

<script>
        
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2FnYXIxMSIsImEiOiJja25nZWxqdXYzNDB2MnFwOWd5Y3gyNjdoIn0.gPdqfO1KFWb7XMGGd6IoKQ';
        {% for i in final %}
        var map{{forloop.counter}} = new mapboxgl.Map({
            container: 'map{{forloop.counter}}',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [72.912073985522, 19.193125020058034],
            zoom: 9,
        });
        
        // Add zoom and rotation controls to the map.
        map{{forloop.counter}}.addControl(new mapboxgl.NavigationControl());


      


        map{{forloop.counter}}.on('load', function () {
            map{{forloop.counter}}.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': [
                            [72.96048249304532, 19.213875035409654]
                        ]
                    }
                }
            });
            map{{forloop.counter}}.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
        // Set options
        var marker = new mapboxgl.Marker({
            color: "#888",
            draggable: true
        }).setLngLat([30.5, 50.5])
            .addTo(map{{forloop.counter}});

        map{{forloop.counter}}.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));
        var marker1 = new mapboxgl.Marker()
            .setLngLat([0, 0])
            .setPopup(new mapboxgl.Popup().setHTML("<h1>Hello World!</h1>"))
            .addTo(map{{forloop.counter}});

        console.log(marker1.getPopup()); // return the popup instance
        {% endfor %}

        {% for i in final %}
        var z = 0;
        {% for j in i %}
            z += {{j.1}} * {{j.0.0.price}}
        {% endfor %}
            document.querySelector('.totalPrice{{forloop.counter}}').innerHTML = 'Total Price : ₹ '+ z;
        {% endfor %}

</script>
{% endblock %}