{% extends 'shop/basic.html'%}


{%block title%} {{prod.0.product_name}} {% endblock %}

{% block style %}
<style>
  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */

   .rating {
    float:left;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
  body{
    background-color: #defcff;
  }
  #outerdiv{
    display: none;
  }
  #trendingProductCategory:hover{
    background-color: red;
    border: 2px solid red;
  }

  @media only screen and (max-width: 1000px) {
    #outerdiv{
      display: block;
    }
    #outerdiv2{
      display: none;
    }  
  }
</style>
{% endblock %}

{%block body%} 

<div class = "container my-4">
    <div class = "row">
        <div class = "col-sm-6 col-md-4 col-lg-4">
            <img src = "../../../media/{{prod.0.image}}" width="200px" height="350px">
            <div class = "my-3">
              <!-- <button class = "btn btn-primary">Add to cart</button> -->
              <span id="divpr{{prod.0.product_id}}" class = "divpr">
                <button style="display: inline-block; " href="#" id="pr{{prod.0.product_id}}"
                class="btn btn-primary cart">Add To Cart</button>
              </span>
              <button class = "btn btn-primary mx-2" onclick="addItem();">Buy Now</button>
            </div>

        </div>
        <div class = "col-sm-6 col-md-4-col-lg4">
            <h5>{{prod.0.product_name}}</h5>
            <b>Rs.{{prod.0.price}}</b>
            <p>{{prod.0.product_desc}}</p>
            <h2>Rating : </h2>
            <fieldset class="mx-4 rating" >
              <input type="radio" id="star5{{prod.0.product_id}}" name="rating{{prod.0.id}}" value="5" disabled/><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4{{prod.0.product_id}}" name="rating{{prod.0.id}}" value="4" disabled/><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3{{prod.0.product_id}}" name="rating{{prod.0.id}}" value="3" disabled/><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2{{prod.0.product_id}}" name="rating{{prod.0.id}}" value="2" disabled/><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1{{prod.0.product_id}}" name="rating{{prod.0.id}}" value="1" disabled/><label for="star1" title="Sucks big time">1 star</label>
            </fieldset>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
     var str = "";
     document.getElementById('star{{rating}}{{prod.0.product_id}}').checked = true;
    var itemsTotal = {{items}};
    //Add pop over to cart
    // $(document).ready(function () {
    //   $('#cartpop').popover();
    //   $('#cartpop').attr('data-bs-content', 'Hiii');
    // });


    //Find Out the cart from local storage
    if (localStorage.getItem('cart') == null) {
      var cart = {};
    } else {
      // console.log(localStorage.getItem('cart'))
       updateCart(cart);
    }

    // If the add to cart is clicked then we get update

    function addItem(){
      var idstr = "pr{{prod.0.product_id}}";
      // console.log('clicked ' + idstr);
      // console.log(idstr)
      // console.log(cart);
      if(cart[idstr]){
        ;
      }else{
        cart[idstr] = 1;
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart); 
      // document.getElementById('cart1').innerHTML = Object.keys(cart).length;

        window.location.href = '/shop/cart/'
    }

    $('.cart').click(function () {
      var idstr = "pr{{prod.0.product_id}}";
      // console.log('clicked ' + idstr);
      // console.log(idstr)
      cart[idstr] = 1;
      // console.log(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart); 
      // document.getElementById('cart1').innerHTML = Object.keys(cart).length;

    });

    //Update cart function
    function updateCart(cart) {
      // console.log('hihsdfihdsf');
      var idstr = "pr{{prod.0.product_id}}";
      if(cart[idstr])
        document.getElementById('div' + idstr).innerHTML = "<button id = 'minus" + idstr + "' class = 'btn btn-primary minus'> - </button> <span id = 'val" + idstr + "'>" + cart[idstr] + "</span> <button id = 'plus" + idstr + "' class = 'btn btn-primary plus'> + </button>"
      cart = JSON.parse(localStorage.getItem('cart'));
      var finalcart = []
      // console.log("Hey this is the cart : " + cart["pr1"]);
      for(let i = 1; i <= itemsTotal; i++){
        // console.log("The item no. " + i + " has units : " + cart["pr" + i]);
        if(cart["pr" + i]){
          // console.log("i is : " + i);
          finalcart.push([i, cart["pr" + i]])
        }
      }
      // console.log("Final cart here : ")
      // console.log(finalcart)
      var sumis = 0;
      for(let x in finalcart){
        // console.log(finalcart[x])
        sumis += finalcart[x][1];
      }
      document.getElementById('cart1').innerHTML = sumis;
      var sum = 0;
      // for (var i in cart){
      //   console.log("here is ; " + i);
      //   console.log(document.getElementById(i).textContent);
      // }
    }
    
    // Plus minus buttons
    $('.divpr').on("click", "button.minus", function(){
      // console.log("Minus clicked");
      a = this.id.slice(7, );
      // console.log(a)
      // cart['pr' + a]  = cart['pr' + a] - 1;
      cart['pr' + a] = Math.max(0, cart['pr' + a] - 1);
      document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $('.divpr').on("click", "button.plus", function(){
      // console.log("Plus clicked");
      b = this.id.slice(6, );
      // console.log(b)
      cart['pr' + b]  = cart['pr' + b] + 1;
      document.getElementById('valpr' + b).innerHTML = cart['pr' + b]
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCart(cart);
    });

    $(window).bind('beforeunload', function(){
      var text = localStorage.getItem('cart'); 
      console.log(text);
      $.ajax({
          type: "POST",
          url: '{{ "/shop/beforeReload/" }}',
          data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: text},
          success: function callback(response){
              console.log(response);
        }
      });
        // return '>>>>>Before You Go<<<<<<<< \n Your custom message go here';
});

</script>
{% endblock %}