{% extends 'shop/basic.html'%}

{%block title %} SearchResult {% endblock %}

{% block style %}
<style>
    .mycard{
    transition: 1s;
  }

  .mycard:hover{
    
    transition: transform 0.6s ease;
    transform: scale(0.9)  skew(0deg, 1deg);
    background-color:#defcff;
    box-shadow: 10px 10px 8px 10px #888888;
    z-index: 9999;
  }
</style>
{% endblock %}

{% block body %}
<div class = "conatiner mx-3 my-3">
  <h1>Search Results : </h1>
</div>
<div class="container my-3">
<div class="row">
{% for i in c %}
  <div class="col-sm-12 col-md-4 col-lg-3" style="min-width: 300px;">
    <div class="card mx-auto mycard" style="width: 18rem;">
      <a href='/shop/products/{{i.0.product_id}}'>
        <img class="card-img-top" src="/media/{{i.0.image}}" style = "height: 300px;" alt="Card image cap">
      </a>
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">{{i.0.product_name}}</h5>
          <p class="card-text">{{i.0.product_desc|slice:"0:50"}}</p>
          <a href="/shop/products/{{i.0.product_id}}"  class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
{% endfor %}
</div>
    </div>

{% endblock %}