{% extends 'shop/basic.html'%}

{%block title %} Success {% endblock %}
{% block body %}
    <div class="container">
      <h1 class="container p-3" style="width: 50%; background-color: #3dffb8; margin: auto; position: absolute; top: 40%; left: 30%;">Your payment succeeded.<br><small style="color: red;"> Redirecting  to HOME....</small></h1>
    </div>
{% endblock %}

{% block js %}
<script>
    localStorage.clear()
    setTimeout(() => {

        window.location.href = "/shop/"

    }, 3000);
</script>
{% endblock %}