{% extends 'shop/basic.html'%}

{%block title %} Track Cart {% endblock %}

{%block body%}

<div class="container">
{% for i in final %}
<h2>Cart {{forloop.counter}}</h2>
<div class="row">
{% for j in i %}
<div class="col-sm-6 col-md-4 col-lg-3" style="min-width: 300px;">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../media/{{j.0.0.image}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}
